main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(3, 17, 43, 0.8);
}

:root{
    --color--principal: #3db0fa;
    --color--texto: #020202;
    --color--secundario: #f9f7ff;
    --color--tercero: #03112b;
    
}
.titulo{
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--color--texto);
    background-color: var(--color--principal);
    padding: 0.625rem 0.625rem;
    border-radius: 1.5rem;
}

.opciones-cursos{
    text-align: center;
    margin: 0.625rem;
    display: flex;
}

.opcion{
    cursor: pointer;
    padding: 0.625rem 1.25rem ;
    margin: 0 0.625rem;
    border-bottom: 0.125rem solid transparent;
}

.opcion.seleccionada{
    color: var(--color--principal);
    border-bottom:  0.125rem solid var(--color--principal);
}

.cursos-grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 10rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}

.clase{
    padding: 2rem;
    background-color: var(--color--secundario);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--color--texto);
    gap: 1rem;
    border-top: solid var(--color--principal) 0.625rem;
}

.clase img{
    height: 10rem;
    width: 100%;
    margin: 0 auto;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color--secundario);
    background-color: var(--color--principal);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link:hover{
    background-color: var(--color--tercero);
}

.link img{
    height: 3rem;
    width: 3rem;
    margin: 0;
    background-color: var(--color--tercero);
    border-radius: 50%;
}

.imagen-final-logo{
    width: 100%;
    opacity: 80%;
}

.oculto{
    display: none;
}

@media screen and (max-width: 40rem) {
    .cursos-grilla{
        display: flex;
        flex-direction: column;
        margin: 2rem 0.625rem; 
    }
}

@media screen and (max-width: 60rem) {
    .cursos-grilla{
        grid-template-columns: 1fr 1fr;
        margin: 5rem 1rem;
    }
}