.main {
    margin: 1em;
    background-color: rgba(3, 17, 43, 0.8);
    border-radius: 2em;
    justify-content: center;
}

/*
    color--celeste: #3db0fa;
    color--texto: #020202;
    color--marfil: #f9f7ff;
    color--azul: #03112b;
*/

.img-titulo {
    height: 10rem;
    opacity: 0.9;
}

.info-curso-empre {
    position: relative;
    padding-left: 2rem;

    padding-right: 2rem;
    height: 100%;
    box-sizing: border-box;
}

.info-curso-empre img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.info-curso-empre-info {
    background-color: rgba(234, 221, 191, 0.452);
    border-radius: 2%;
    color: #0b2a62;
    position: absolute;
    width: 50%;
    height: 96%;
    bottom: 2%;
    left: 3%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 0.7rem;
    height: 80vh;
    box-sizing: border-box;
}

.info-curso-empre-info h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 1rem;
}

.info-curso-empre-lista h2 {
    color: #020202;
    padding-top: 1.25rem;
    font-size: 1.6rem;
    padding-bottom: 1.25rem;

}

.info-curso-empre-lista li {
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    list-style: none;
    font-size: 1.2rem;
}

.inscripcion {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1.5rem;
}

.radioButtons label {
    font-size: 1.2rem;
    display: inline-block;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.boton-inscripcion {
    display: flex;
    justify-content: center;
    align-content: center;
}

.boton-inscripcion a {

    width: fit-content;
    justify-content: center;
    align-content: center;
    padding: 0.6rem 1.5rem;
    background-color: #3db0fa;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #03112b;
    color: #f9f7ff;
    font-weight: bolder;
    font-size: 1.6rem;
    align-self: center;
}

.boton-inscripcion:hover {
    color: #f9f7ff;
    box-sizing: border-box;
}

/*celu*/
@media screen and (max-width: 40rem) {
    .main {
        margin: 0.2rem;
    }

    .img-titulo {
        width: 100%;
    }

    .info-curso-empre {
        margin: 0;
        padding: 0;
        width: 100%;
        object-fit: contain;
    }

    .info-curso-empre img {
        width: 100%;
        border-color: #020202;
    }

    .info-curso-empre-info {
        display: flex;
        margin: 0;
        padding: 0.5rem;
        width: 95%;
        height: 90%;
        object-fit: contain;
        gap: 0.5rem;
        justify-content: center;
        align-content: center;
    }

    .info-curso-empre-info h1 {
        font-size: 1.5rem;
        padding: 0;
    }

    .info-curso-empre-lista h2 {

        font-size: 1.2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .info-curso-empre-lista li {
        font-size: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

}

/*tablet */
@media screen and (min-width: 40.01rem) and (max-width: 64rem) {
    .info-curso-empre {
        padding: 0.5rem;
        max-height: fit-content;
    }

    .info-curso-empre-info {
        height: 90%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        object-fit: contain;
        padding: 1rem;
        padding-bottom: 0;
        gap: 1rem;

    }

    .info-curso-empre-info h1 {
        padding-top: 0.5rem;
        font-size: 1.9rem;
    }

    .info-curso-empre-lista {
        padding-bottom: 2rem;
    }

    .info-curso-empre-lista h2 {
        padding: 0;
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }

    .info-curso-empre-lista li {
        padding: 0;
        font-size: 1rem;
    }

}

/*portatil*/
@media screen and (min-width: 64.01rem) and (max-width: 90rem) {
    .info-curso-empre-info {
        height: 90%;
        gap: 1.5rem;
        width: 65%;

    }

    .info-curso-empre-info h1 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }

    .info-curso-empre-lista h2 {
        font-size: 1.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

    }

    .info-curso-empre-lista li {
        font-size: 1.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

}