/*COMIENZO MAIN*/
.main{
    background-image: url(../img/banner\ sin\ letras.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /*si muevo la pag la imagen no se mueve*/
    background-size: cover;
    justify-content: center;
    align-content: center;
}
